@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    color: #000;
    background-color: #FFFFFF;
}

a {
    color: #222222;
    text-decoration: none;
}

a:hover {
    color: #9ab251;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

/*--------------------------------------------------------------
  # Sections & Section Header
  --------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 90px;
    background-color: #1d4f91;
}

.header.sticked {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    max-height: 60px;
    margin-right: 6px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    letter-spacing: 0.8px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.sticked-header-offset {
    margin-top: 70px;
}

section {
    scroll-margin-top: 70px;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
    .navbar {
        padding: 0;
    }

    .navbar ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navbar li {
        position: relative;
    }

    .navbar>ul>li {
        white-space: nowrap;
        padding: 10px 0 10px 28px;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3px;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.6);
        white-space: nowrap;
        transition: 0.3s;
        position: relative;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar>ul>li>a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: -6px;
        left: 0;
        background-color: #fff;
        visibility: hidden;
        width: 0px;
        transition: all 0.3s ease-in-out 0s;
    }

    .navbar a:hover:before,
    .navbar li:hover>a:before,
    .navbar .active:before {
        visibility: visible;
        width: 100%;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    .navbar .dropdown ul {
        display: block;
        position: absolute;
        left: 28px;
        top: calc(100% + 30px);
        margin: 0;
        padding: 10px 0;
        z-index: 99;
        opacity: 0;
        visibility: hidden;
        background: #fff;
        box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
        transition: 0.3s;
        border-radius: 4px;
    }

    .navbar .dropdown ul li {
        min-width: 200px;
    }

    .navbar .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        font-weight: 600;
        color: #006a5d;
    }

    .navbar .dropdown ul a i {
        font-size: 12px;
    }

    .navbar .dropdown ul a:hover,
    .navbar .dropdown ul .active:hover,
    .navbar .dropdown ul li:hover>a {
        color: #000;
    }

    .navbar .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navbar .dropdown .dropdown ul {
        top: 0;
        left: calc(100% - 30px);
        visibility: hidden;
    }

    .navbar .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: 100%;
        visibility: visible;
    }
}

@media (min-width: 1280px) and (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

@media (min-width: 1280px) {

    .mobile-nav-show,
    .mobile-nav-hide {
        display: none;
    }
}

/*--------------------------------------------------------------
  # Mobile Navigation
  --------------------------------------------------------------*/
@media (max-width: 1279px) {
    .navbar {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        max-width: 400px;
        bottom: 0;
        transition: 0.3s;
        z-index: 9997;
    }

    .navbar ul {
        position: absolute;
        inset: 0;
        padding: 50px 0 10px 0;
        margin: 0;
        background: rgba(29, 79, 145, 0.9);
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
    }

    .navbar a,
    .navbar a:focus {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
        transition: 0.3s;
    }

    .navbar a i,
    .navbar a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
    }

    .navbar a:hover,
    .navbar .active,
    .navbar .active:focus,
    .navbar li:hover>a {
        color: #fff;
    }

    /* .navbar .getstarted,
    .navbar .getstarted:focus {
        background: var(--color-primary);
        padding: 8px 20px;
        border-radius: 4px;
        margin: 15px;
        color: #fff;
    }

    .navbar .getstarted:hover,
    .navbar .getstarted:focus:hover {
        color: #fff;
        background: rgba(0, 131, 116, 0.8);
    } */

    .navbar .dropdown ul,
    .navbar .dropdown .dropdown ul {
        position: static;
        display: none;
        padding: 10px 0;
        margin: 10px 20px;
        transition: all 0.5s ease-in-out;
        background-color: #2563b3;
        border: 1px solid #2563b3;
    }

    .navbar .dropdown>.dropdown-active,
    .navbar .dropdown .dropdown>.dropdown-active {
        display: block;
    }

    .mobile-nav-show {
        color: rgba(255, 255, 255, 0.6);
        font-size: 28px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        z-index: 9999;
        margin-right: 10px;
    }

    .mobile-nav-hide {
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        line-height: 0;
        transition: 0.5s;
        position: fixed;
        right: 20px;
        top: 20px;
        z-index: 9999;
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .navbar {
        right: 0;
    }

    .mobile-nav-active .navbar:before {
        content: "";
        position: fixed;
        inset: 0;
        background: rgba(29, 79, 145, 0.9);
        z-index: 9996;
    }
}

/* Hero */
.hero {
    width: 100%;
    position: relative;
    padding: 60px 0 15px 0;
}

.hero h2 {
    width: 410px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #1d4f91;
    border-bottom: solid 2px;
    padding-bottom: 12px;
}

.hero h3 {
    width: 365px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #AF1685;
    border-bottom: solid 2px;
    padding-bottom: 12px;
}


.hero .card {
    height: 100%;
    border-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    color: #0a0a0a;
    box-shadow: 0 2px 48px #e8edf4;
}

.hero .card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


.hero .card-body h5 {
    font-size: 18px;
    color: #333333;
}

.hero .card-body p {
    font-size: 13px;
    color: #0A0A0A;
}


.hero .card .btn-light {
    background-color: #fff;
    border: solid 1px #cecece;
    border-radius: 5px;
    font-weight: 500;
    color: #333333;
    padding: 5px 15px;
}

.hero .card .btn-primary {
    background-color: #1d4f91;
    border: solid 1px #cecece;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    padding: 5px 25px;
}

.hero .card .btn-primary:hover {
    background-color: rgba(29, 79, 145, 0.9);
}


.hero .card-list {
    max-width: 286px;
    height: 512px;
    /* margin: 56px 14px 0 0; */
    padding: 46px 24px 24px;
    border-radius: 8px;
    box-shadow: 0 2px 48px #e8edf4;
    background: url(../img/banner-bg.svg) #fff no-repeat bottom left;
}

.hero .card-list .card-title {
    font-size: 16px;
    text-align: center;
}

.hero .card-list .list {
    margin-top: 30px;
}

.hero .card-list .list li {
    margin-top: 10px;
    font-size: 14px;
    color: #333333;
}


@media (max-width: 640px) {
    .hero .card {
        padding: 15px;
    }

    .hero h2,
    .hero h3 {
        width: 100%;
        font-size: 16px;
    }

    .hero .card-list {
        display: none;
    }

    .hero .card-mobile h3 {
        margin-top: 30px;
    }
}



/* Modal Setor */
.modal-setor-a {
    text-decoration: none;
    color: #585858;
}

.modal-setor-a:hover {
    text-decoration: none;
    color: #585858;
}

.modal-setor {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal-setor:target {
    visibility: visible;
    opacity: 1;
}

.modal-content-setor {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    /* bottom: 20%; */
}

.modal-content-setor h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
}

.modal-content-setor p {
    color: #828588;
    font-size: 14px;
}

.modal-content-setor span {
    color: #333333;
    font-weight: 500;
    font-size: 16px;
}

.modal-content-setor ul li {
    color: #828588;
    font-size: 14px;
    list-style: none;
}

.modal-content-setor ul li i {
    padding-right: 5px;
    font-size: 17px;
}

.modal-content-setor ul {
    padding: 0;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}

/* Consulta */
.heading-consulta {
    cursor: pointer;
    padding: 32px;
}

.heading-consulta h1 {
    font-size: 16px;
}

#consulta,
#creditos {
    background-color: #fff;
    min-height: 50vh;
}

.container-consulta,
.container-creditos {
    background-color: #F7F7F8;
    min-height: 200px;
    border-radius: 10px;
}

.container-creditos {
    height: auto;
    padding-top: 30px;
}

.container-creditos h2 {
    font-size: 20px;
    padding-top: 20px;
    margin: 20px;
}

.container-creditos span {
    color: green;
}

.tab-content {
    display: none;
}

.tab-content button {
    border: none;
    background-color: transparent;
}

.tab-content .bi-search {
    padding-left: 10px;
    font-size: 20px;
    color: #337A7B;
}

@media (max-width: 640px) {
    .container-creditos {
        width: 100%;
        margin: 10px;
    }
}


/* Login */
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}


.wrap-login100 {
    width: 100%;
    background: #fff;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;

}

/* login */
.login100-more {
    width: calc(100% - 560px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}


.login100-more::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top, rgba(109, 32, 119, .45), rgba(29, 79, 145, .45));

}

.login100-more .container {
    padding: 80px 0 0 48px;
    color: #fff;
}

.login100-more .container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.login100-more .container p {
    font-size: 20px;
}

.login100-more .container p::before {
    content: "";
    display: block;
    width: 26%;
    border-top: solid 2px #fff;
}

.login100-more .portais {
    margin-top: 25%;
}

.login100-more .portais span {
    font-size: 16px;
}

.login100-more .portais-item {
    align-items: center;
    border-radius: 8px;
    border: solid 1px #e0e0e1;
    background-color: #fff;
    color: #1d4f91;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    width: 90%;
    height: 100%;
    opacity: .75;
    transition: opacity .5s ease-in-out;
}

.login100-more .portais-item:hover {
    opacity: 1;
}


.login100-more .portais-item img {
    margin-right: 15px;
}

/* Form */
.login100-form {
    width: 560px;
    min-height: 100vh;
    display: block;
    background-color: #fff;
    padding: 55px 55px 55px 55px;
}

.login100-form-title {
    width: 100%;
    display: block;
    line-height: 1.2;
    color: #af1685;
    font-size: 18px;
    font-weight: 600;
}

.login100-form .form-floating {
    color: #828588;
    font-size: 14px;
}

.login100-form .password {
    text-decoration:underline;
    font-size: 14px;
    color: #1d4f91;
}

.login100-form  .form-check-input {
    margin-left: 40px;
}
.login100-form .form-check-label {
    color: #333333;
    font-size: 14px;
}

/* Button */
.button-login button {
    color: #828588;
    background-color: #e0e0e1;
    border-color: transparent;
    padding: 10px;
    font-weight: 500;
}

.button-login button:hover {
    color: #828588;
    background-color: #e0e0e1;
    border-color: transparent;
}

.options {
    background-color: red !important;
}


/* Responsivo */
@media (max-width: 992px) {
    .login100-form {
        width: 50%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .login100-more {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .login100-form {
        width: 100%;
    }

    .login100-more {
        display: none;
    }
}

@media (max-width: 576px) {
    .login100-form {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 70px;
    }
}

/* Estilo do preload */
#preload {
    content: url('../img/preload.gif');
    display: block;
    position: fixed;
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
  }



  #imgConsulta {
    height: 100%;
    width: auto;
}

#imgConsulta.pequena {
    clip-path: inset(20% 0px 35% 12%);
    width: auto;
}

#imgConsulta.media {
    clip-path: inset(20% 0px 17% 12%);
    width: auto;
}

#imgConsulta.longa {
    clip-path: inset(100px 0px 60px 0px);
    width: auto;
}

#imgConsulta.normal {
    height: auto;
    width: auto;
}
